body {
    font-size: 8pt;
    font-family: verdana;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 20em;
    margin-bottom: 1em;
}

th {
    border: 1px solid #ddd;    
    padding: 1em;   
}

td.id {
    text-align: center;
}

td.id a {
    color: blue;
    text-decoration: none;
}

td.delete input {
    width: 3em;
}

td.id a:hover {
    text-decoration: underline;
}

form {
    width: 26em;
    padding-left: 1em;
}

form label {
    width: 8em;
    display: inline-block;
}

form input {
    width: 16em;
    vertical-align: middle;    
}

form div {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

form .buttons {
    margin-top: 1em;
    padding-right: 1em;    
    text-align: right;
}

form .buttons input {
    width: 5em;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}